@import "../../common/colours.scss";
$breakpoint: 800px;

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.movie-section {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    padding: 3rem 0rem;
    font-weight: 400;
    color: $font-primary;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    @media screen and (max-width: $breakpoint) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
}

.movie-stats {
    // border: 1px solid cyan;
    margin-top: 1.5rem;
    color: $font-secondary;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    .stat-box {
        // border: 1px solid red;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.5rem;
    }
    
}

.movie-title {
    font-size: 2.5rem;
    color: $font-primary;
}

.movie-plot {
    margin-top: 1.5rem;
    line-height: 1.8rem;
}

.movie-info {
    color: $font-secondary;
    @media screen and (max-width: $breakpoint) {
        display: flex;
        justify-content: space-between;
    }
    span {
        //border: solid red;
    }
}

.movie-info > div span:first-child {
    margin-top: 0.5rem;
    padding: 0.7rem 0rem;
    color: $font-primary;
    font-weight: 600;
    width: 8rem;
    display: inline-block;
}

#no-image {
    max-width: 25rem;
}

#star {
    color: #f5c518;
}

#thumbs-up {
    color: #ffffff;
}

#film {
    color: #c2c2c2;
}

#calendar {
    color: #e7ddad;
}