@import "../../common/colours.scss";


@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.card-item {
    background: $secondary-colour;
    cursor: pointer;
    transition: all 0.3s;
    min-height: 26rem;
    height: 100%;
    margin: 0.5rem;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    &:hover {
        transform: scale(1.1);
    }
}

.card-top {
    height: 24rem;
    img {
        width: 100%;
        height: 100%;
    }
}

.card-bottom {
    padding: 1rem;
}

.card-info {
    color: white;
    h4 {
        font-size: 1.25rem;
        font-weight: 400;
        margin-bottom: 0.5rem;
    }   
}

#no-image {
    width: 100%;
}